/* Google Fonts */
@import url('https://fonts.googleapis.com/css2?family=Sedgwick+Ave&family=Sedgwick+Ave+Display&display=swap');

:root {
    --primaryColor: #FBBF57;
    --primary-font-family: 'Sedgwick Ave', cursive;
}

body {
    background-image:linear-gradient(to bottom, rgba(241, 241, 241, 0.7), rgb(235, 235, 235)), url("images/background.png");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: bottom;
}

/* Header Section */
.header {
    width: 100%;
    background-color: white;
}

.header-nav {
    font-family: var(--primary-font-family);
}

.logo-nav {
    position: relative;
    right: 0;
    font-family: var(--primary-font-family);
    align-items: center;
}

.navbar-brand {
    margin-right: 100px;
}

.logo-nav a {
    margin-right: 30px;
    margin-top: 20px;
    font-size: 26px;
} 

.logo-nav a:hover {
    color: var(--primaryColor);
}

.navbar-toggler {
    border: none;
    outline: none;
}

.logo-img {
    width: 160px;
}


.nav-link {
    font-size: 22px;
}

/* Hero Section Background Image */

#hero {
    height: 70vh;
    background-image:linear-gradient(to bottom, rgba(0,0,0,0.7), rgba(0, 0, 0, 1)), url("images/pizza.png");
    background-position: right;
    background-size: cover;
    background-repeat: no-repeat;
    z-index: -1;
}

.hero-t {
    font-family: var(--primary-font-family);
}

.pizza {
    font-size: 64px;
    font-family: var(--primary-font-family);
    margin-top: 30px;
}

.color {
    color: var(--primaryColor);
}

/* Menu Section */

.menu-wrapper {
    width: 100%;
    position: relative;
    top: -80px;
    background-color: #222;
    z-index: 10;
    border-radius: 10px;
}

.menu-heading {
    color: white;
    text-transform: uppercase;
}

.menu-select {
    position: relative;
    top: 80px;
    font-size: 42px;
    text-transform: uppercase;
}

.card {
    gap: 5px;
}

.meunu-title {
    font-size: 24px;
    margin: 15px auto;
}

.card-img-top {
    max-width: 100%;
    width: 200px;
    max-height: auto;
    height: 200px;
    margin: auto;
}

#pizzas {
    max-width: 100%;
    width: 300px;
    padding: 15px;
}

.option {
    max-width: 100%;
    width: 200px;
    padding: 20px;
}

.submit-btn {
    width: 100%;
    text-align: center;
}

/* Order Button */
.submit {
    background-color: var(--primaryColor);
    color: white;
    padding: 10px 40px;
    border: none;
    border-radius: 5px;
    font-size: 20px;
    text-transform: uppercase;
    margin-bottom: 50px;
}

.submit:hover {
    background-color: #ffa811;
}

/* Add More Button */
#addMore {
    display: none;
}

/* Done Button */
.done {
    background-color: var(--primaryColor);
    color: white;
    padding: 10px 40px;
    border: none;
    border-radius: 5px;
    font-size: 18px;
    text-transform: uppercase;
    margin-bottom: 50px;
}

/* Address */
.address {
    display: none;
}

#addressAdd {
    background-color: var(--primaryColor);
    padding: 10px 20px;
    color: white;
    border: none;
    border-radius: 5px;
    text-transform: uppercase;
}

/* Results Section */

.results {
    background-color: white;
    border-radius: 5px;
    display: none;
}

.qty {
    margin-right: 10px;
}

/* Add Address */
#address {
    width: 400px;
    max-width: 100%;
    padding: 20px;
    border: none;
    border-bottom: 1px solid #444;
    margin-right: 20px;
    margin-left: 20px;
}

#address:focus {
    border: none;
    border-bottom: 1px solid #444;
}

.address-results {
    display: none;
}

/* Checkout */
.checkout {
    text-align: right;
}

.checkout-btn {
    display: none;
}


/* Contact Section */

.contact img {
    width: 140px;
    max-width: 100%;
}